*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ==========================================================================
   Reset
   ========================================================================== */
/**
 * Remove anchor text-decoration
 */
a {
  text-decoration: none;
}

/**
 * Remove list-style
 */
ol,
ul {
  list-style: none;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
footer,
header,
nav,
section,
main {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  font-size: 1em;
  font-weight: normal;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .container {
    max-width: 760px;
  }
}

@media screen and (max-width: 759px) {
  .container {
    max-width: 480px;
  }
}

.subtitle {
  text-align: center;
  color: #000570;
}

.subtitle::before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000570;
  margin: 10px auto 10px auto;
}

a {
  color: #000570;
}

header {
  background: #000570;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.header_menu ul li a {
  color: #f9f9f9;
  display: block;
  padding: 10px;
}

.header_menu ul li:hover, .header_menu ul li.current-menu-item {
  background-color: #000457;
}

.menu-item-has-children:hover .sub-menu {
  display: block;
}

.menu-item-has-children .sub-menu {
  position: absolute;
  width: 200px;
  right: 20px;
  background-color: #000570;
  display: none;
  text-align: left;
  padding: 10px;
}

.logo-svg {
  width: 200px;
  height: auto;
  padding: 20px;
  fill: #f9f9f9;
}

footer {
  background: #000;
  color: #f9f9f9;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer a {
  color: #f9f9f9;
}

.footer li {
  display: inline-block;
}

.solutions {
  background: #f9f9f9;
  padding: 10px 0 20px 0;
}

.solutions p {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 759px) {
  .solutions p {
    font-size: 14px;
    line-height: 20px;
  }
}

.solutions h2 {
  font-size: 36px;
}

@media screen and (max-width: 759px) {
  .solutions h2 {
    font-size: 24px;
    line-height: 30px;
  }
}

.accordion {
  background: #f9f9f9;
}

.accordion-tabs {
  display: none;
}

.accordion-tabs :focus {
  outline: none;
}

.accordion-item__label {
  padding: 1.25rem;
  cursor: pointer;
  -webkit-transition: padding 0.2s ease;
  transition: padding 0.2s ease;
}

.accordion-item__label:hover {
  background: #7076ff;
  color: #f9f9f9;
}

.accordion-item__label-active {
  background: #7076ff;
}

.accordion-item__container {
  padding: 0 1.25em;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: padding 0.2s ease, opacity 0.5s 0.15s ease;
  transition: padding 0.2s ease, opacity 0.5s 0.15s ease;
}

.accordion-active {
  background: #f0f0ff;
}

.accordion-active .accordion-item__label {
  background: #7076ff;
  color: #f9f9f9;
}

.accordion-active .accordion-item__container {
  padding: 1.25em;
  height: auto;
  opacity: 1;
}

@media (min-width: 760px) {
  .accordion-content .accordion-item__label {
    display: none;
  }
  .accordion-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #7076ff;
  }
  .accordion-tabs .accordion-tab {
    background: #7076ff;
    color: #f9f9f9;
    padding: 1rem 2rem;
    font: inherit;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.1s ease;
    transition: background 0.1s ease;
  }
  .accordion-tabs .accordion-tab:hover {
    background: rgba(249, 249, 249, 0.01);
  }
  .accordion-tabs .accordion-tab.accordion-active {
    color: #7076ff;
    background: #f9f9f9;
  }
  .accordion-item {
    display: none;
    border: none;
    background: #f9f9f9;
    min-height: 260px;
  }
  .accordion-item.accordion-active {
    display: block;
  }
  .accordion-item.accordion-active .accordion-item__container {
    padding: 0;
  }
}

.accordion {
  -webkit-box-shadow: 0 1em 2em -0.9em rgba(0, 0, 0, 0.7);
          box-shadow: 0 1em 2em -0.9em rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.accordion + p {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  font-size: 0.9rem;
  margin-top: 2rem;
}

.accordion-active .accordion-item__container {
  padding: 0;
}

.accordion-item__container {
  padding: 0 1.25em;
}

.service-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  text-align: center;
}

.accordion-item__container .service-list {
  margin: 10px;
}

@media screen and (max-width: 759px) {
  .service-list {
    cursor: -webkit-grab;
    cursor: grab;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
  }
  .service-list:first-child {
    margin-left: 10px;
  }
}

.service-list__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60px;
          flex: 1 0 60px;
  min-width: 200px;
  background: #fcfcfc;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1em 2em -0.9em rgba(0, 0, 0, 0.7);
          box-shadow: 0 1em 2em -0.9em rgba(0, 0, 0, 0.7);
}

.service-list__link:hover {
  background: #f9f9f9;
  -webkit-box-shadow: 0 1em 2em -0.9em rgba(0, 0, 0, 0.7);
          box-shadow: 0 1em 2em -0.9em rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 759px) {
  .service-list__link {
    margin: 10px 0 10px 0;
  }
}

.service-list__icon {
  width: 60px;
  margin: 10px auto;
}

.service-list__title {
  min-height: 60px;
  font-size: 24px;
  line-height: 30px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 759px) {
  .service-list__title {
    font-size: 18px;
    line-height: 25px;
  }
}

.service-list p {
  color: #000;
}

@media screen and (max-width: 759px) {
  .service-list p {
    font-size: 14px;
    line-height: 20px;
  }
}

.service-list p::before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000570;
  margin: 10px auto 10px auto;
}
/*# sourceMappingURL=style.css.map */