body {
  // @include device(medium) {
  //   grid-template-columns: 1fr;
  // }
  @include device(small) {
    grid-template-columns: 1fr;
  }

  @include scrollbar();
}

.container {
  margin-left: auto;
  margin-right: auto;
  $container: $small-device;
  max-width: 100%;
  padding-left: 0.1rem;
  padding-right: 0.1rem;

  @include device(medium) {
    $container: $medium-device;
    max-width: $container;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  @include device(large) {
    $container: $large-device;
    max-width: $container;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  @include device(xlarge) {
    $container: $xlarge-device;
    max-width: $container;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.subtitle {
  text-align: center;
  color: $primary;
  &::before {
    @include title-block();
  }
}

h2.subtitle {
  @include type(xl);
  @include device(small) {
    @include type(l);
  }
  text-transform: uppercase;
}

h3 {
  @include type(l);
  @include device(small) {
    @include type(m);
  }
}

.logo-svg {
  width: 200px;
  height: auto;
  fill: $light;
  padding: 20px;
}
