@include device(large) {
  .header {
    width: 100%;
    transition: 0.5s;

    &-nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      .menu-header {
        @include type(l);
        &__list {
          display: flex;
          gap: 10px;
          li {
            a {
              color: $light;
              display: block;
              padding: 10px;
              &:hover {
                color: $primary__light;
              }
            }
            &.current-menu-item a {
              color: $primary__light;
            }
          }
          .menu-item-has-children {
            transition: 3s;
            > a::after {
              content: "";
              display: inline-block;
              margin-left: 5px;
              vertical-align: middle;
              border-top: 4px solid transparent;
              border-bottom: 4px solid transparent;
              border-right: 4px solid transparent;
              border-left: 4px solid;
              transition: 0.5s;
            }
            .sub-menu {
              position: absolute;
              transform: translateX(-25%);
              width: 400px;
              background-color: $light;
              display: none;
              text-align: left;
              padding: 2px;
              li + li {
                border-top: solid $primary__light 2px;
              }
              a {
                color: $dark;
              }
              .menu-item a:hover {
                color: $light;
              }
            }
            &:hover .sub-menu {
              display: block;
            }
          }
          & > li:hover > a,
          a:hover {
            // Inserir elementos nos hover e selecionar os filhos
            color: $light;
            background-color: $primary__light;
            &::after {
              transform: rotate(90deg);
              margin-bottom: -5px;
            }
          }
        }
      }
    }
    &.navbar-fixed {
      position: fixed;
      z-index: 10;
    }
    &.navbar-light {
      .header-nav {
        li a {
          color: $dark;
        }

        .header-logo__svg {
          fill: $dark;
        }
      }
    }
    &.navbar-shrink {
      .header-nav {
        padding: 0 20px;
      }
      background: $light;
      .header-logo__svg {
        width: 170px;
        padding: 15px;
      }
    }
  }
}
