$primary: #000570;
$primary__light: lighten($primary, 50%);
$secondary: #c61100;
$secondary__light: lighten($secondary, 0.9);
$dark: #000;
$light: #f9f9f9;

// Variaveis do grid
$xlarge-device: 1600px;
$large-device: 1200px;
$medium-device: 760px;
$small-device: 480px;

$container: $large-device;

// Box-sizing

*,
*::after,
*::before {
  box-sizing: border-box;
}

// Mixin de media-querie
@mixin device($size) {
  @if $size == small {
    @media screen and (max-width: $medium-device - 1) {
      @content;
    }
  } @else if $size == medium {
    @media screen and (min-width: $medium-device) {
      @content;
    }
  } @else if $size == large {
    @media screen and (min-width: $large-device) {
      @content;
    }
  } @else if $size == xlarge {
    @media screen and (min-width: $xlarge-device) {
      @content;
    }
  }
}

@mixin grid($width, $gap) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($width + px, 1fr));
  gap: $gap + px;
}

// Tipografia
@mixin type($size) {
  @if $size == s {
    font-size: 0.875rem;
    line-height: 1.25rem;
  } @else if $size == m {
    font-size: 1.125rem;
    line-height: 1.563rem;
  } @else if $size == l {
    font-size: 1.5rem;
    line-height: 1.875rem;
  } @else if $size == xl {
    font-size: 2.25rem;
    line-height: 3.38rem;
  } @else if $size == xx {
    font-size: 3rem;
    line-height: 4.5rem;
  }
}

@mixin title-block($color: $primary, $margin: 10px) {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: $color;
  margin: $margin auto $margin auto;
}

@mixin scrollbar() {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 10px;
    border: 2px solid #faf6ed;
  }
  &::-webkit-scrollbar-track {
    background: #faf6ed;
  }
}
